*{
    padding: 0;
    text-align: center;
}

h1{
    margin-top: 1rem;
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    border-radius: 2rem;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choice{
    height: 165px;
    width: 165px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}

.scoreBoard{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

#compScore, #userScore {
    font-size: 3rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display:inline;
    border-radius: 1rem;
    padding: 1rem;
}

